---
---

@import "minima";

body {
  background-color: #DBFFF8;
}

.site-title::before {
content: url("/assets/images/Logo.png");
display: inline-block;
position: relative;
width: 35px;
top: 5px;
}

/* Header image container */
.header-image-container {
  width: 100%;
  height: 250px;   /* change this to the height you want */
  overflow: hidden;
  position: relative;
}

/* Header image */
.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* crops image to fit the header */
  display: block;
}

/* Text overlay on top of the image */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
